/* NÃO EXCLUIR O CSS!! */

.centro{
    text-align: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.877);
    border-radius: 15px;
    border: 1px solid black;
}

/* CSS para layout de grade (usando grid) */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define as colunas */
    gap: 10px; /* Espaçamento entre os itens */
    border: 1px solid #ffffff; /* Borda opcional */
    padding: 10px; /* Espaçamento interno opcional */
}