.esquerda{
    background-color:rgba(197, 181, 159, 0.877);
    text-align: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 0%;
    margin-right: 80%;
    margin: flex;
    justify-content: space-between;
}
.centro{
    text-align: center;
    align-items: center;
    background-color:rgba(233, 219, 201, 0.877);
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 8%;
    margin-left: 40%;
    margin-right: 30%;
}
.btnX{
    margin-left: 95%;
    margin-top: 2%;
    position: fixed;
}