/* Reset de margens e preenchimentos */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    /* Remover margens padrão */
}

/* Cabeçalho */
.cabecalho {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* Margem esquerda para a logo */
}

.logo-imagem {
    width: 50px;
    /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    margin-right: 10px;
}

.titulo {
    text-align: center;
    flex-grow: 1;
    /* Expandir para ocupar o espaço restante */
    margin-left: 10px;
    /* Margem esquerda para separação entre logo e título */
}

/* Conteúdo principal */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    /* Aumentado o espaçamento para acomodar o cabeçalho fixo */
}

.imagem {
    position: relative;
    margin: 20px 0;
    text-align: center;
    /* Centralizar a descrição */
    width: 80%;
    /* Definir largura para a imagem */
    max-width: 800px;
    /* Limitar a largura máxima da imagem */
}

.imagem-item {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    transition: transform 0.3s, filter 0.3s;
    /* Adicionado filtro de transição */
}

.imagem:hover .imagem-item {
    transform: scale(1.05);
    /* Aumentar a escala da imagem */
    filter: brightness(70%);
    /* Diminuir o brilho da imagem */
}

/* Estilo da descrição durante o hover */
.descricao {
    position: absolute;
    top: 50%;
    /* Alinhar no centro vertical da imagem */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%) scale(0);
    /* Inicialmente escondido com escala zero */
    transform-origin: center;
    /* Definir ponto de origem da transformação */
    transition: opacity 0.3s, transform 0.3s;
    box-sizing: border-box;
    /* Incluir padding na largura */
}

.imagem:hover .descricao {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) scale(1);
    /* Exibir com escala normal durante o hover */
}

/* Rodapé */
.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    /* Alterado para relativo para permitir posicionamento responsivo */
    bottom: 0;
    width: 100%;
}