body{
    background-color: rgba(145, 210, 235, 0.452);
}
.atividade{
    margin-top: 5%;
    width: 40%; 
    margin-left: 10%;
    margin-right: auto;
    float:left;
    background-color:rgba(255, 255, 255, 0.747);
    border-radius: 10px;
}
.respostas{
    margin-top: 5%;
    width: 40%; 
    margin-left: 10%;
    margin-right: auto;
    float:left;
    background-color:rgba(255, 255, 255, 0.747);
    border-radius: 10px;
}
.respShare{
    margin-top: 5%;
    width: 40%; 
    margin-left: 1%;
    margin-right: auto;
    float:left;
    background-color:rgba(255, 255, 255, 0.747);
    border-radius: 10px;   
}
.btnEnviar{
    margin: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
textarea{
    margin-top: 5%;
    border-radius: 20px;
}
.cabecalho{
    border: 25%;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 25%;
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 5%;
}