.atividade{
    margin-top: 5%;
width: 40%; 
margin-left: 10%;
margin-right: auto;
float:left;
background-color:rgba(0, 123, 172, 0.493);
border-radius: 10px;
}
.resposta{
    margin-top: 5%;
    width: 40%; 
    margin-left: 1%;
    margin-right: auto;
    float:left;
    background-color:rgba(0, 123, 172, 0.493);
    border-radius: 10px;
}
.btnEnviar{
    margin: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
textarea{
    margin-top: 5%;
    border-radius: 20px;
}
.cabecalho{
    border: 25%;
    background-color: rgba(134, 134, 134, 0.342);
    border-radius: 25%;
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 5%;
}
