.centro{
    background-color:rgba(233, 219, 201, 0.877);
    border-radius: 25px;
    border: 1px solid black;
    margin: 12%;
}
.centro h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 6%;
    font-size: 400%;
}
.centro p{
    margin: 5%;
    font-size: 200%;
    font-style: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centro button{
    font-size: 350%;
    margin-left: 8%;
    margin-right: 8%;
    background-color:rgb(87, 148, 218);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centro a{
    margin: 20%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(115, 169, 230);
    width: 100%;
}
.cabecalho h2{
    margin: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho h3{
    margin: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sair{
    background-color:rgb(115, 169, 230);
    width: 100%;
}
.sair button{
    margin: 1%;
    background-color: rgb(115, 169, 230);
}