body{
    background-color: rgb(226, 225, 225);
}
.centro{
    background-color: white;
    border-radius: 25px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
.centro h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
    font-size: 400%;
}
.centro p{
    margin-top: 5%;
    font-size: 200%;
    font-style: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botoes{
    margin-right: 20%;
    display: flex;
    align-items: center;
}
.botoes button{
    font-size: 300%;
    background-color:rgb(87, 148, 218);
    border: rgba(0, 0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centro a{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sair{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(115, 169, 230);
    display: flex;
}
.sair button{
    border-color: rgba(240, 248, 255, 0);
    font-size: 100%;
    background-color: rgb(115, 169, 230);
}